body {
  margin: 0;
  overflow: hidden;
  background-color: white;
  cursor: default;
}
#mainCv {
  /* image-rendering: pixelated; */

}
#mainCon {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;

}
