

section {
    width: 100%;
    /* margin: 2em 0; */
}

.sec-centered {
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 1em 2em;


}


.flexlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.flexlist>div {
    box-sizing: border-box;
    padding: 1em;
    /* width: 25%; */
    min-width: 300px;
    /* max-width: 300px; */
    /* border: solid 1px black; */
    /* flex-basis: 25%; */
    /* flex-grow: 1; */
    flex: 1 1 0;
}


.flex-two-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 2em 0;
}
.flex-two-columns-reverse {
    flex-direction: row-reverse;
}

.flex-two-columns>div {
    box-sizing: border-box;
    flex: 1 1 0;
}

.flex-small-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.flex-small-items>div {
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    flex-basis: 300px;
}

.flex-two-rows-vert {
    display: flex;
    justify-content: space-between;
}
.flex-two-rows-vert>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /* text-align: center; */
}
.flex-two-rows-vert.items-3>div {
    width: 30%;
}
.flex-two-rows-vert.items-5>div {
    width: 19%;
}

.three-image-layer {
    display: flex;
    justify-content: space-around;
}
.three-image-layer>img {
    max-width: 33%;
}


img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;      
}
.center-vert {
    display: flex;
    align-items: center;  
}

p {
    /* text-align: justify; */
}

.p-big-quote {
    font-size: 1.7em;
    text-align: center;
}
.percentage-list p {
    font-size: 1.3em;
}
.p-big-num {
    font-size: 4em !important;
    margin: 0;
    color: var(--main-color);
    text-shadow: 1px 1px 0.5px black;
    font-weight: bold;

}
.brown {
    color: var(--main-brown)
}

h1 {
    font-size: 2.5em;
    color: var(--main-color);
    text-shadow: 1px 1px black;
}

h3 {
    color: var(--main-color);
    font-size: 1.3em;
    /* font-weight: 1000; */
    text-shadow: 0.5px 0.5px 0.5px black;
    

}

a {
    color: inherit;
}
a:hover {
    color: var(--main-color);
}

.mobile-line-only {
    display: none;
}

.text-center {
    text-align: center;
}

.div-highlighted {
    border-radius: 1em;
    border: 1px solid var(--main-color);
    box-shadow: 0px 0px 6px var(--main-color);
    /* background-color: var(--main-color); */
}
/* 
.div-highlighted * {
    color: white;
    
} */


/* img {
    box-shadow: 3px 3px 10px black;
} */


.footer-flex {
    margin-top: 2em;
    display: flex;
    font-size: 16px;
    flex-wrap: wrap;   
}