/* CSS for Header and Navbar for desktop only */

.DEBUG-isDesktop {
    display: block;
}


/* --- header --- */

header {
    position: sticky;
    top: 0;
}

.header-container {
    background-color: var(--color-header);
    box-sizing: border-box;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    padding: 0 1em; 
    max-width: var(--page-max-width);


    font-size: 20px;
}


.header-mainlogo {
    height: 3em;
}

.header-item-spacer {
    flex-grow: 0;
}



/* --- Menu --- */

i.menu-dropdown {
    display: none;
}
i.menu-overflow {
    display: none;
}

.menu {
    display: block !important;
}

ul.menu-list {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin: 0;
    padding: 0;

    list-style-type: none;

}


li.menu-item>a {

    display: block;
    padding: 1.5em 1em 1.35em 1em;
    box-sizing: border-box;

    text-decoration: none;
    color: black;

}

.menu-item-underline {
    margin: 0 auto; /* --- Centers underline, making it grow from the center*/
    width: 0%;
    height: 0.15em;
    background-color: black;
}

li.menu-item:hover .menu-item-underline {

    width: 100%;
    transition: 0.3s;
}


/* --- Dorpdown/submenu --- */

ul.sub-menu-list {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: gray;
    /* opacity: 0.5; */
    display: none;
    /* display: inline-block; */
    list-style-type: none;
}

li.menu-item:hover ul.sub-menu-list {
    display: block;
}


li.sub-menu-item>a {
    display: block;
    padding: 10px;
}


