:root {
   --page-max-width: 1000px;

   --color-header: lightcyan;
   --color-body: lightgray;
}

body {
   margin: 0;
   background-color: var(--color-header);
   font-family: Inter, sans-serif;
}

main {
   background-color: var(--color-body);
}


.DEBUG-isDesktop {
   display: none;
}
.DEBUG-isMobile {
   display: none;
}
