:root {
   --page-max-width: 1200px;

   --color-header: silver;
   /* --color-header: slategray; */
   --color-body: lightgray;
   /* --main-color: rgb(39, 158, 39); */
   --main-color: rgb(30, 130, 30);
   --main-brown: rgb(100, 60, 10);
}

body {
   margin: 0;
   background-color: var(--color-header);
   font-family: Inter, sans-serif;
   font-size: 18px;
}

main {
   background-color: var(--color-body);
}




.DEBUG-isDesktop {
   display: none;
}
.DEBUG-isMobile {
   display: none;
}
